{# src/AppBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Votre solution en ligne pour ne rien oublier avec vos élèves.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Victor AGNEZ">
        <meta name="copyright" content="GestionDeClasse">
        <meta name="keywords" content="prof, gestion, classe, élèves, oublis, emploi du temps">
        <meta property="og:title" content="GestionDeClasse">
        <meta property="og:description" content="Votre solution en ligne pour ne rien oublier avec vos élèves.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://p5.agnezweb.fr">
        <meta property="og:image" content="">
        <link rel="icon" href="img/favicon.ico">

        <title>{% block title %}Gestion de classe{% endblock %}</title>



        {% stylesheets 'bundles/agnezcore/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>

  <body>
  <div id="mainContainer">
      <div id="header" class="">
          <div id="headerEmpty"></div>
          <div id="headerLogo"><a href="{{ path('agnez_core_homepage') }}"><h1 class="animated fadeIn">Gestion de Classe</h1></a></div>
          <div id="headerUser">
              {% if app.request.attributes.get('_route') != 'fos_user_security_login' %}
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <p>Bienvenue {{ app.user.username }}</p>
                    <button class='btn btn-primary'><a href="{{ path('fos_user_profile_show') }}">Voir le profil</a></button>
                    <button class='btn btn-primary'><a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a></button>
                  {% endif %}
              {% endif %}
          </div>
      </div>

    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
  </div>

    <footer>
        <div>
            <p>Victor AGNEZ © {{ 'now'|date('Y') }}</p>
        </div>
    </footer>


  {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
  {% endblock %}

  </body>
</html>
