{% extends "@AgnezCore/layout.html.twig" %}

{% block body %}
    <div id="content_flex_index">
        <div id="content_edt_sem">
            <div id="content_button_sem">
                <button class='btn btn-primary'><a href="{{ path('agnez_core_homepage',{'sem' : numSem - 1}) }}">Semaine précedente</a></button>
                <button class='btn btn-primary'><a href="{{ path('agnez_core_homepage',{'sem' : numSem + 1}) }}">Semaine suivante</a></button>
            </div>
            <div id="table_edt_sem">
                <table>
                    <tr>
                        <th></th>
                        {%for l in 0..4 %}
                            <th>{{tabEnteteSem[l]}}</th>
                        {% endfor %}
                    </tr>
                    {% set colonne1 = ['8h-9h','9h-10h','10h-11h','11h-12h','14h-15h','15h-16h','16h-17h','17h-18h'] %}
                    {% for i in  1..8 %}
                    {% if i==5 %}
                            <tr id="ligne_tab_repas"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    {% endif %}
                    <tr>
                        <td>{{colonne1[i-1]}}</td>
                        {% for j in  1..5 %}

                                {% set hTrouvee = '' %}
                                {% for heure in listeHeures%}
                                    {% if heure.numHeure==j*10+i %}
                                        {% set hTrouvee = heure %}
                                    {% endif %}
                                {% endfor %}
                                {% if hTrouvee !='' %}
                                    {% if heureSelec is defined and hTrouvee.id==heureSelec.id %}
                                        <td class="heureActivee caseHeure"><a href="{{ path('agnez_core_homepage',{'sem' : numSem, 'numHeure' : hTrouvee.id}) }}"><span>{{hTrouvee.classe.name}}</span></a></td>
                                    {% else %}
                                        <td class="caseHeure"><a href="{{ path('agnez_core_homepage',{'sem' : numSem, 'numHeure' : hTrouvee.id}) }}"><span>{{hTrouvee.classe.name}}</span></a></td>
                                    {% endif %}
                                {% else %}
                                    <td class="caseHeure"></td>
                                {% endif %}

                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div id="interTab"></div>

        <div id="content_oubli_classe">
        {% for n in 1..nbTypeOublis %}
            <button id="btn_oubli{{n}}" class="btn btn_oubli btnSansLien">{{tabTypeOublis[n-1]}}</button>
        {% endfor %}

        {% if message is defined %}
            <p class="messageInfo">{{message}}</p>
        {% endif %}

        {% if form is defined %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div id="tab_oubli_classe_general">
            {% for m in 1..nbTypeOublis %}
                <div id="tab_oubli_classe{{m}}" class="tab_oubli_classe hidden">
                    <table>
                        <tr>
                        {%for k in 1..30 %}
                            {% if k <= heureSelec.classe.eleves|length %}
                                <td>
                                    {{ form_widget(attribute(form.tabOubliClasse, 'oubli' ~ m ~ k ) ) }}
                                    <div class="td_label_oubli">{{ form_label(attribute(form.tabOubliClasse, 'oubli' ~ m ~ k ) ) }}</div>
                                </td>
                            {% else %}
                                <td><div class="td_label_oubli"></div></td>
                            {% endif %}

                            {% if k is divisibleby(2)%}
                                {% if k is divisibleby(6 )%}
                                    </tr><tr>
                                {% else %}
                                    <td class='couloirClasse'></td>
                                {% endif %}
                            {% endif %}

                        {% endfor %}
                        </tr>
                    </table>
                </div>
            {% endfor %}
            </div>
            {{ form_widget(form.tabOubliClasse.save, { 'label': 'Enregistrer les oublis' }) }}
            {{ form_end(form) }}
        {% endif %}
        </div>
    </div>
    <button  class='btn btn-info'><a href="{{ path('agnez_core_param') }}">Parametres</a></button>

    <script>
        var nbTypeOublis={{nbTypeOublis}};
    </script>

{% endblock %}
