{% extends "@AgnezCore/layout.html.twig" %}

{% block body %}
<button><a href="{{ path('agnez_core_homepage') }}">Retour à l'accueil</a></button>
  La gestion de l'emploi du temps

{{ form_start(form) }}
{{ form_row(form) }}
{{ form_end(form) }}

<button><a href="{{ path('agnez_core_edt_init') }}">Lancer l'initialisation de l'emploi du temps sur l'année complète (attention les anciennes heures seront effacées)</a></button>

{% endblock %}
