{% extends "@AgnezCore/layout.html.twig" %}

{% block body %}

{% if app.user.initialized==4 %}
<a class='btn btn-primary' href="{{ path('agnez_core_homepage') }}">Retour à l'accueil</a>
{% endif %}
<a class='btn btn-info' href="{{ path('agnez_core_initClasses') }}">Etape précedente (Noms des classes) </a>
  Choisissez une classe pour y entrer les élèves :

    <ul class="ulChoixClasses">
        {% if classes|length==0 %}
            Veuillez aller ajouter des classes pour pouvoir y ajouter des élèves
            <a class='btn btn-info' href="{{ path('agnez_core_initClasses') }}">Définir les classes</a>
        {%endif%}

        {% for classe in classes %}

        <li class="liChoixClasses">
            <p>{{classe.name}} : {{classe.eleves|length}} élèves enregistrés</p>
            <a class="gererClasse btn btn-info" href="{{ path('agnez_core_classeDetail', {'id': classe.name}) }}">Voir la classe</a>
        </li>

        {% endfor %}
    </ul>


    {% if app.user.initialized==1 %}
    <a class='btn btn-success' href="{{ path('agnez_core_validClasses') }}">
    {% else %}
    <a class='btn btn-success' href="{{ path('agnez_core_edt') }}">
    {% endif %}
        Etape suivante (Emploi du temps)</a>

{% endblock %}
