{% extends "@AgnezCore/layout.html.twig" %}

{% block body %}
<button class="btn btn-info"><a href="{{ path('agnez_core_choixClasse') }}">Retour au choix de la classe</a></button>
La classe en détail
{{ form_start(form, { 'attr': {'id': 'formEleves'}}) }}
{{ form_errors(form) }}
<div id="agnez_userbundle_classe_eleves1" data-prototype="<div id=&quot;agnez_userbundle_classe_eleves___name__&quot; class=&quot;ligneFormEleves&quot;><div><label for=&quot;agnez_userbundle_classe_eleves___name___nom&quot; class=&quot;required&quot;>Nom</label><input type=&quot;text&quot; id=&quot;agnez_userbundle_classe_eleves___name___nom&quot; name=&quot;agnez_userbundle_classe[eleves][__name__][nom]&quot; required=&quot;required&quot; /></div><div><label for=&quot;agnez_userbundle_classe_eleves___name___prenom&quot; class=&quot;required&quot;>Prenom</label><input type=&quot;text&quot; id=&quot;agnez_userbundle_classe_eleves___name___prenom&quot; name=&quot;agnez_userbundle_classe[eleves][__name__][prenom]&quot; required=&quot;required&quot; /></div></div>">
    {% for eleve in form.eleves %}
        {{form_errors(eleve)}}
        {{form_widget(eleve, { 'attr': {'class': 'ligneFormEleves'}}) }}
    {% endfor %}
</div>
<button class="btn btn-info"><a href="#" id="add_eleve">Ajouter un eleve</a></button>
{{ form_row(form.Envoyer)}}
<div class="hidden">
    {{ form_rest(form) }}
</div>
{{ form_end(form) }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    var $container = $('div#agnez_userbundle_classe_eleves1');
    var index = $container.find(':input').length;
    $('#add_eleve').click(function(e) {
      addEleve($container);
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });
    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addEleve($container);
    } else {
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }
    function addEleve($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Eleve n°' + (index+1))
        .replace(/__name__/g,        index)
      ;
      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);
      addDeleteLink($prototype);
      $container.append($prototype);
      index++;
    }
    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      var $deleteLink = $('<a href="#" class="btn btn-danger" tabindex="-1">Supprimer</a>');
      $prototype.append($deleteLink);
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>

{% endblock %}
